body {
  background-color: black;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #323535;
  border-radius: 15px;
  padding: 55px;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bgred {
  background-color: red;
}
h1 {
  margin-top: 0;
  padding: 0;
  font-size: 55px;
  color: #b7ac13;
  text-align: center;
}
button {
  border-radius: 5px;
  padding: 3px 5px;
  border: none;
  background-color: blue;
  color: #fff;
  font-size: x-large;
  cursor: pointer;
}

button:hover {
  background-color: #3a3a9c;
}

#product-list {
  display: flex;
  flex-direction: column;
}

#product-list div {
  margin-bottom: 15px;
  display: flex;
  gap: 35px;
  font-size: x-large;
  justify-content: space-between;
}

#card-items {
  font-size: large;
}

#card-items div {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  margin-bottom: 10px;
}
